*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
root{
    --amarillo: #D68F58;
    --bordo: #762A2F;
    --negro: #21211F;
    --gris: #8A757E;
    --blanco: #F4F3F1;
}

body{
    font-family: 'Amethysta', serif;
    background-color: #fde9d5;
}


/* INDEX */

#bodyIndex{
    background-image: url('img/desktop/fondo landing desktop.png');
    object-fit: fill;
}
.contenedorLogoIndex{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0;
}
.signoPreguntaIndex{
    height: 198px;
}
#logoIndex{
    height: 400px;
    padding-bottom: 10px;
}

/* CARTA HARRY: HEADER */
#bodyCartaHarry{
    animation: transitionIn 0.5s;
    
   

}
@keyframes transitionIn {
    from {
        opacity:0 ;
        transform: translateY(20000px); 
    }
    to {
        opacity:1 ;
        transform: translateY(0px); 
    }
}
#headerDesktop{
    max-width: 100vw;
    position: relative;
    min-height: 23vh;
    background-image: url("img/desktop/headerDesktopFondo.png");
    object-fit: fill;    
}

#contenedorLogoHeader{
    position: absolute;
    width: 700px;
    top: 13%;  
    left: 50%;
    transform: translate(-50%, -50%);    
}

#flexLogoHeader{
    display: flex;
    justify-content: space-around; 
    align-items: center;
}

.signoPreguntaLogoHeader{
    height: 152px;
}
#logoHeader{
    height: 169px;
}
/* CARTA HARRY: MAIN */
.contenedorCartaHarry{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 20px; */
    width: 400px;
    margin: 0 auto;
}
#fotoCarta{
    height: 330px;
    width: 100%;
    background-repeat: no-repeat;
    background-size:contain;
    mix-blend-mode: normal;
    background-position: center;
}
.selectorArea{
    width: 62%;
    padding: 12px 0;
    color: #21211F;
}
.titulitoSelect{
    text-align: center;
    padding-bottom: 3px;
}
.selectEach{
    background-color:#D68F58;
    width: 100%;
    height: 35px;
}

.selectEach:focus{
    background-color: #F4F3F1;
}
.botonRojo{
    background-color:#762A2F;
    width:151px;
    height: 40px;
    color: #F4F3F1;  
    margin-top: 15px;
}
#botoneraFinal{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 12px 0;
}


/* NOMBRE */
#bodyNombre{
    animation: transitionIn2 1.75s;
}
@keyframes transitionIn2{
    from {
        opacity:0 ;
        transform: translateX(-20px); 
    }
    to {
        opacity:1 ;
        transform: translateX(0px); 
    }
}
.contenedorNombre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin: 0 auto;
}

#selectorNombre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes cambiarAncho {
    from{width:100%;}
    to{width: 80%;}  
}
#inputNombre:focus{
    background-color:#F4F3F1;
    animation: cambiarAncho 0.5s linear;
    width: 80%;
    text-align: center;      
}
#botoneraFinalNombre{
    width: 100%;
    display: flex;
    justify-content:space-between;
    padding: 12px 0;
}
.botonAmarillo{
    background-color:#D68F58;
    width: 45%;
    height: 40px;
    color: #F4F3F1;
    margin-top: -10px;  
}

.textoPadding{
    padding: 20px 0;
}
#textoMensaje{
padding-top: 55px;
font-size: 25px;
text-align: center;
}
#harryCarita{
    display: flex;
    justify-content: center;
}
   
@keyframes hacerAparecer {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
#vueNombreInvertido{
    text-align: center;
    font-size: 50px;
    width: 500px;
    word-wrap: break-word; 
    font-family: Harry;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: hacerAparecer 3s ease-in-out;
}
#botoneraFinalNombre{
    padding-top: 35px;
    display: flex;
    justify-content: center;

}


.linkBotones{
    text-decoration: none;
    color: #F4F3F1;
}
.linkBotones:hover{
    color:#8A757E;
    
}
/* animacion de transition vue */
.slide-fade-enter-active {
    transition: all 0.2s ease-out;
  }
  
  .slide-fade-leave-active {
    transition: all 0.2s ease-out;
  }
  
  .slide-fade-enter-from,
  .slide-fade-leave-to {
    opacity: 0;
  }


 /* PUNTAJE  */
 #seccionPuntajes{
    display: flex;
    justify-content: center;
 }
#pergaminoPuntaje{
    margin-top: 50px;
    width: 400px;
    height: 550px;
    background-image: url("img/pergamino_ok.png");
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
} 

#listaPuntajes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.listaRecords{
    font-family: Harry;
    font-size: 20px;
    margin-top: 55px;
    text-align: center;
    top: 50%;
    left: 50%;
    list-style-type: none;

}
#puntajePropio{
    font-size: 25px;
}
.botonLink{
    text-decoration: none;
    color:#F4F3F1
}

#recordOk{
    border: dotted 5px #8A757E;
    color: green;
    text-align: center;
    font-family: Harry;
    font-size: 30px;
    max-width: 300px;

}
/* ADIOS */
#logoAdios{
    margin-top: 14%;
}



/* RESPONSIVE */
/* celular */
@media screen and (max-width: 768px) {
#contenedorLogoHeader{
    width: 500px;
    }
.contenedorCartaHarry{
    width: 332px;
    }
}

/* tablet */
@media screen and (max-width: 1440px) and (min-width: 768px){ 
}

/* pc escritorio */
@media screen and (min-width: 1440px){    
}   